Repository fluid-cloudnative/fluid, pull requests merged in 2025-03, with the labels that each got.

#4521 Build docker images for moving discovering batch job api out of init
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4519 juicefs docs: more explain in non-required config
  docs/en/samples/juicefs_runtime.md
  docs/zh/samples/juicefs/juicefs_runtime.md
Labels: lgtm, approved

#4537 This PR is to add comments to TestAlluxioEngine_allocatePorts in pkg\ddc\alluxio\tr…
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4526 This PR is to add comments to transformResourcesForWorker in pkg\ddc\alluxio\transform_resources.go.
  pkg/ddc/alluxio/transform_resources.go
Labels: lgtm, needs-ok-to-test, approved

#4490 feat: support injecting file prefetcher sidecar to app pods
  charts/fluid/fluid/values.yaml
  pkg/webhook/plugins/fileprefetcher/const.go
  pkg/webhook/plugins/fileprefetcher/file_prefetcher.go
  pkg/webhook/plugins/fileprefetcher/file_prefetcher_test.go
  pkg/webhook/plugins/fileprefetcher/labels.go
  pkg/webhook/plugins/plugins_impl.go
  tools/file-prefetcher/Dockerfile
  tools/file-prefetcher/entrypoint.sh
  tools/file-prefetcher/main.py
Labels: lgtm, approved

#4574 This PR is to add comments toTestJuiceFSEngine_setParallelMigrateOptions in pkg/ddc/juicefs/data_migrate_test.go.
  pkg/ddc/juicefs/data_migrate_test.go
Labels: lgtm, needs-ok-to-test, approved

#4572 Docker build for prefetching file
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4540 This PR is to add comments to TestUpdateCacheOfDataset() in pkg/ddc/jindo/dataset_test.go
  pkg/ddc/jindo/dataset_test.go
Labels: lgtm, needs-ok-to-test, approved

#4531 This PR is to add comments to Test_parseFSInfoFromConfigMap in pkg/ddc/juicefs/datasetinfo_parser_test.go.
  pkg/ddc/juicefs/datasetinfo_parser_test.go
Labels: lgtm, needs-ok-to-test, approved

#4542 This PR is to add comments to TestTransformMasterProperties in pkg\ddc\alluxio\transform_test.go.
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4544 This PR is to add comments to TestUpdateMountTime in pkg/ddc/alluxio/ufs_test.go
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4546 Add comments to SyncMetadata in pkg\ddc\jindo\metadata.go
  pkg/ddc/jindo/metadata.go
Labels: lgtm, needs-ok-to-test, approved

#4552 This PR is to add comments to CheckRuntimeReady in pkg/ddc/alluxio/load_data.go.
  pkg/ddc/alluxio/load_data.go
Labels: lgtm, needs-ok-to-test, approved

#4550 This PR is to add comments to TestBindToDataset in pkg\ddc\jindo\dataset_test.go.
  pkg/ddc/jindo/dataset_test.go
Labels: lgtm, needs-ok-to-test, approved

#4554 This PR is to add comments to TestJuiceFSEngine_DeleteVolume() in pkg/ddc/juicefs/delete_volume_test.go.
  pkg/ddc/juicefs/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4560 This PR is to add comments to TestAlluxioEngine_DeleteVolume in pkg/ddc/alluxio/delete_volume_test.go
  pkg/ddc/alluxio/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4561 This PR is to add comments to TestTransformWorkers in pkg/ddc/alluxio/transform_tes…
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4564 This PR is to add comments to TestTransformResourcesForWorkerWithOnlyLimit in pkg\d…
  pkg/ddc/alluxio/transform_resources_test.go
Labels: lgtm, needs-ok-to-test, approved

#4566 This PR is to add comments to TestJuiceFSEngine_deleteFusePersistentVolumeClaim in …
  pkg/ddc/juicefs/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4568 This PR is to add comments to DoTestCases in pkg\ddc\juicefs\delete_volume_test.go
  pkg/ddc/juicefs/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4562 This PR is to add comments to newTestJuiceEngine in pkg\ddc\juicefs\delete_volume_test.go
  pkg/ddc/juicefs/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4556 This PR is to add Comments to TestTransformWorkerValumes in pkg/ddc/alluxio/transform_volumes_test.go
  pkg/ddc/alluxio/transform_volumes_test.go
Labels: lgtm, needs-ok-to-test, approved

#4523 This PR is to add comments to transformTolerations in pkg/ddc/alluxio/transform_resources.go.
  pkg/ddc/alluxio/transform_resources.go
Labels: lgtm, needs-ok-to-test, approved

#4570 This PR is to add comments to TestJindoEngine_DeleteVolume in pkg\ddc\jindo\delete_volume_test.go.
  pkg/ddc/jindo/delete_volume_test.go
Labels: lgtm, approved, ok-to-test

#4576 This PR is to add comments to parseFSInfoFromConfigMap in pkg\ddc\juicefs\datasetinfo_parser.go.
  pkg/ddc/juicefs/datasetinfo_parser.go
Labels: lgtm, needs-ok-to-test, approved

#4578 This PR is to add comments to patchDatasetStatus in pkg\ddc\alluxio\cache.go.
  pkg/ddc/alluxio/cache.go
Labels: lgtm, approved, ok-to-test

#4584 This PR is to add comments to TestGetMasterStatefulset in pkg/ddc/alluxio/utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4593 This PR is to add comments to TestGetCacheHitStates in pkg\ddc\alluxio\cache_test.go.
  pkg/ddc/alluxio/cache_test.go
Labels: lgtm, approved, ok-to-test

#4588 This PR is to add comments to TestAlluxioEngine_allocateSinglePort in pkg\ddc\alluxio\transform_test.go.
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4592 This PR is to add comments to add comments to getCleanCacheGracePeriodSeconds in pkg\ddc\alluxio\cache.go
  pkg/ddc/alluxio/cache.go
Labels: lgtm, needs-ok-to-test, approved

#4597 This PR is to add comments to TestShouldSetupMaster in pkg/ddc/alluxio/master_test.go.
  pkg/ddc/alluxio/master_test.go
Labels: lgtm, needs-ok-to-test, approved

#4595 This PR is to add comments to TestJuiceFSEngine_generateDataProcessValueFile in pkg/ddc/juicefs/data_process_test.go.
  pkg/ddc/juicefs/data_process_test.go
Labels: lgtm, needs-ok-to-test, approved

#4599 This PR is to add comments to mockAlluxioRuntimeForMaster in pkg/ddc/alluxio/transform_resources_test.go.
  pkg/ddc/alluxio/transform_resources_test.go
Labels: lgtm, approved, ok-to-test

#4604 This PR is to add comments to TestJuiceFSEngine_deleteFusePersistentVolume in pkg\ddc\juicefs\delete_volume_test.go.
  pkg/ddc/juicefs/delete_volume_test.go
Labels: lgtm, approved, ok-to-test

#4606 This PR is to add comments to TestGetRuntimeInfo in pkg/ddc/jindo/runtime_info_test.go.
  pkg/ddc/jindo/runtime_info_test.go
Labels: lgtm, needs-ok-to-test, approved

#4612 This PR is to add comments to TestTransformDatasetToVolume in pkg/ddc/alluxio/transform_ufs_test.go
  pkg/ddc/alluxio/transform_ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4610 This PR is to add comments to TestQueryCacheStatus in pkg\ddc\alluxio\cache_test.go.
  pkg/ddc/alluxio/cache_test.go
Labels: lgtm, approved, ok-to-test

#4623 This PR is to add comments to Test_lookUpUsedCapacity in pkg\ddc\alluxio\utils_test.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, needs-ok-to-test, approved

#4614 This PR is to add comments to newJindoEngineRT in pkg/ddc/jindo/runtime_info_test.go
  pkg/ddc/jindo/runtime_info_test.go
Labels: lgtm, approved

#4617 Add Notation to TestCheckMasterHealthy in pkg\ddc\alluxio\health_chec…
  pkg/ddc/alluxio/health_check_test.go
Labels: lgtm, approved, ok-to-test

#4619 This PR is to add comments to TestTransformResourcesForWorkerWithTieredStore in pkg\ddc\alluxio\transform_resources_test.go.
  pkg/ddc/alluxio/transform_resources_test.go
Labels: lgtm, needs-ok-to-test, approved

#4630 This PR is to add comments to TestGenerateJindoValueFile in /pkg/ddc/jindo/master_internal_test.go.
  pkg/ddc/jindo/master_internal_test.go
Labels: lgtm, needs-ok-to-test, approved

#4632 This PR is to add commentsto TestJindoEngine_DeleteFusePersistentVolumeClaim in pkg\ddc\jindo\delete_volume_test.go
  pkg/ddc/jindo/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4795 Revert github.com/prometheus/client_golang to v1.20.5
  go.mod
  go.sum
  pkg/ddc/alluxio/cache.go
  pkg/ddc/alluxio/load_data.go
  pkg/ddc/alluxio/master_test.go
  pkg/ddc/alluxio/transform_resources.go
  pkg/ddc/alluxio/transform_resources_test.go
  pkg/ddc/alluxio/transform_test.go
  pkg/ddc/alluxio/transform_ufs_test.go
  pkg/ddc/alluxio/utils_test.go
  pkg/ddc/jindo/dataset_test.go
  pkg/ddc/jindo/delete_volume_test.go
  pkg/ddc/juicefs/data_process_test.go
  pkg/ddc/juicefs/datasetinfo_parser.go
  pkg/ddc/juicefs/datasetinfo_parser_test.go
  pkg/ddc/juicefs/delete_volume_test.go
  vendor/github.com/prometheus/client_golang/prometheus/atomic_update.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_latest.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_cgo_darwin.c
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_cgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_js.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_other.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_wasip1.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_windows.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/modules.txt
Labels: lgtm, approved

#4636 This PR is to add comments to TestGetMasterPodInfo in pkg\ddc\alluxio\utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4647 This PR is to add comments to TestGetFuseDaemonsetName in pkg\ddc\alluxio\utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, needs-ok-to-test, approved

#4650 Add comments to TestShouldSyncMetadata in pkg\ddc\alluxio\metadata_test.go
  pkg/ddc/alluxio/metadata_test.go
Labels: lgtm, approved, ok-to-test

#4659 Add comments to TestShouldRestoreMetadata in pkg\ddc\alluxio\metadata_test.go
  pkg/ddc/alluxio/metadata_test.go
Labels: lgtm, approved, ok-to-test

#4669 This PR is to add comments to TestUpdateDatasetStatus in pkg\ddc\jindo\dataset_test.go
  pkg/ddc/jindo/dataset_test.go
Labels: lgtm, approved, ok-to-test

#4670 finish BigData Lab1, fix issue #4643
  pkg/ddc/alluxio/replicas_test.go
Labels: lgtm, approved, ok-to-test

#4672 This PR is to add comments to TestSetupMaster in pkg\ddc\alluxio\master_test.go.
  pkg/ddc/alluxio/master_test.go
Labels: lgtm, needs-ok-to-test, approved

#4683 This PR is to add comments to UpdateDatasetStatus in pkj/ddc/alluxio/utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4688 This PR is to add comments to Test_isPortInUsed in pkg\ddc\alluxio\utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4689 This PR is to add comments to TestTransformDatasetToPVC in pkg/ddc/alluxio/transform_ufs_test.go.
  pkg/ddc/alluxio/transform_ufs_test.go
Labels: lgtm, approved, ok-to-test

#4693 This PR is to add comments to TestTotalStorageBytes in pkg\ddc\alluxio\ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, approved, ok-to-test

#4697 This PR is to add comments to TestCheckRuntimeReady in pkg/ddc/alluxio/load_data_test.go
  pkg/ddc/alluxio/load_data_test.go
Labels: lgtm, approved, ok-to-test

#4749 This PR is to add comments to TestGenerateDataLoadValueFileWithRuntimeHDD in pkg/ddc/jindo/load_data_test.go.
  pkg/ddc/jindo/load_data_test.go
Labels: lgtm, approved, ok-to-test

#4699 This PR is to add comments to TestPrepareUFS in pkg/ddc/alluxio/ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, approved, ok-to-test

#4715 This PR is to add comments to TestOptimizeDefaultForWorkerNoValue in pkg\ddc\alluxio\transform_optimization_test.go
  pkg/ddc/alluxio/transform_optimization_test.go
Labels: lgtm, needs-ok-to-test, approved

#4716 This PR is to add comments to TestTransformMaster in pkg\ddc\alluxio\transform_test.go.
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4720 This PR is to add comments to newTestAlluxioEngine in pkg/ddc/alluxio/delete_volume_test.go
  pkg/ddc/alluxio/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4724 This PR is add comments to TestTransformFuseVolumes in fluid/pkg/ddc/alluxio/transform_volumes_test.go.
  pkg/ddc/alluxio/transform_volumes_test.go
Labels: lgtm, needs-ok-to-test, approved

#4729 This PR is to add comments to getGracefulShutdownLimits in pkg/ddc/alluxio/cache.go
  pkg/ddc/alluxio/cache.go
Labels: lgtm, needs-ok-to-test, approved

#4730 Annotated the TestSetupMasterInternal function with AI.
  pkg/ddc/juicefs/master_internal_test.go
Labels: lgtm, needs-ok-to-test, approved

#4737 This PR is to add comments to GetFSInfoFromConfigMap in pkg\ddc\juicefs\datasetinfo_parser.go.
  pkg/ddc/juicefs/datasetinfo_parser.go
Labels: lgtm, needs-ok-to-test, approved

#4745 This PR is to add comments to TestGetRuntime in pkg/ddc/alluxio/utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, needs-ok-to-test, approved

#4752 Add comments to TestJuiceFSEngine_genDataUrl function in pkg/ddc/juicefs/data_migrate_test.go
  pkg/ddc/juicefs/data_migrate_test.go
Labels: lgtm, approved, ok-to-test

#4756 This PR is to add comments Test_genDataLoadValue in /pkg/ddc/alluxio/load_data_test.go
  pkg/ddc/alluxio/load_data_test.go
Labels: lgtm, approved, ok-to-test

#4735 This PR is to add comments to getTestJindoEngineNode in pkg/ddc/jindo/node_test.go.
  pkg/ddc/jindo/node_test.go
Labels: lgtm, needs-ok-to-test, approved

#4757 This PR is to add comments to TestGetMountPoint in pkg/ddc/alluxio/utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4804 Docker build 250322
  .github/workflows/project-check.yml
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
  pkg/ddc/alluxio/delete_volume_test.go
  pkg/ddc/alluxio/transform_ufs_test.go
  pkg/ddc/alluxio/transform_volumes_test.go
  pkg/ddc/alluxio/ufs_test.go
  pkg/ddc/alluxio/utils_test.go
  pkg/ddc/jindo/load_data_test.go
  pkg/ddc/juicefs/datasetinfo_parser.go
Labels: lgtm, approved

#4818 Fix: format err
  pkg/ddc/alluxio/load_data_test.go
  pkg/ddc/alluxio/utils_test.go
  pkg/ddc/juicefs/data_migrate_test.go
Labels: lgtm, approved

#4819 docker build for golang 1.23.7
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4816 refactor: fuse sidecar serverless platform
  pkg/application/inject/fuse/injector.go
  pkg/application/inject/fuse/mutator/mutator.go
  pkg/common/constants.go
  pkg/common/label.go
  pkg/common/types.go
  pkg/ctrl/watch/pod.go
  pkg/utils/annotations.go
  pkg/utils/annotations_test.go
  pkg/utils/map.go
  pkg/utils/map_test.go
  pkg/utils/utils_suite_test.go
Labels: lgtm, approved

#4801 Fix that containerNetwork config is not effected in Thinruntime
  pkg/ddc/thin/transform_fuse.go
  pkg/ddc/thin/transform_fuse_test.go
  pkg/ddc/thin/type.go
Labels: lgtm, approved

#4759 Add notation to TestJuiceFSEngine_createFusePersistentVolume in pkg\ddc\juicefs\create_volume_test.go
  pkg/ddc/juicefs/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4772 This PR is to add comments to TestGetMasterStatefulsetName in pkg\ddc\alluxio\utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, needs-ok-to-test, approved

#4766 This PR is to add comments to TestCreateVolume in pkg\ddc\alluxio\create_volume_test.go.
  pkg/ddc/alluxio/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4773 This PR is to add comments to TestGetFSInfoFromConfigMap in pkg/ddc/juicefs/datasetinfo_parser_test.go
  pkg/ddc/juicefs/datasetinfo_parser_test.go
Labels: lgtm, needs-ok-to-test, approved

#4822 Update alluxio jar version to 2.9.4
  pkg/ddc/juicefs/datasetinfo_parser_test.go
  samples/hdfs/pom.xml
Labels: lgtm, approved
