Repository fluid-cloudnative/fluid, pull requests merged in 2025-04, with the labels that each got.

#4785 This PR is to add comments to TestBindToDataset in pkg/ddc/juicefs/dataset_test.go.
  pkg/ddc/juicefs/dataset_test.go
Labels: lgtm, needs-ok-to-test, approved

#4788 This PR is to add comments to TestQueryHCFSEndpoint(t *testing.T) in pkg\ddc\alluxio\hcfs_test.go
  pkg/ddc/alluxio/hcfs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4789 This PR is to add comments to TestGetMediumTypeFromVolumeSource in pkg/ddc/alluxio/transform_test.go
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#4830 Fix not checking return value issue
  pkg/dataprocess/generate_values.go
  pkg/ddc/alluxio/transform_test.go
  pkg/ddc/alluxio/utils_test.go
  pkg/ddc/base/template_engine_test.go
  pkg/ddc/goosefs/utils_test.go
  pkg/ddc/jindo/utils_test.go
  pkg/ddc/jindocache/transform_test.go
  pkg/ddc/jindocache/utils_test.go
  pkg/ddc/jindofsx/transform_test.go
  pkg/ddc/jindofsx/utils_test.go
  pkg/ddc/vineyard/operations/base.go
  pkg/ddc/vineyard/transform_test.go
  pkg/utils/crtl_utils_test.go
  pkg/utils/mount_test.go
  pkg/utils/mountinfo/mountinfo.go
  pkg/utils/yaml.go
Labels: lgtm

#4831 Use replace all instead
  hack/sdk/main.go
  pkg/utils/crtl_utils_test.go
Labels: lgtm

#4794 This PR is to add comments to TestRestoreMetadataInternal in pkg\ddc\alluxio\metadata_test.go.
  pkg/ddc/alluxio/metadata_test.go
Labels: lgtm, needs-ok-to-test, approved

#4798 This PR is to add comments to Test_parseCacheInfoFromConfigMap in pkg\ddc\juicefs\datasetinfo_parser_test.go.
  pkg/ddc/juicefs/datasetinfo_parser_test.go
Labels: lgtm, needs-ok-to-test, approved

#4834 Unify the runtimeWorkers and kubeClient config for all runtime contro…
  charts/fluid/fluid/templates/controller/alluxioruntime_controller.yaml
  charts/fluid/fluid/templates/controller/efcruntime_controller.yaml
  charts/fluid/fluid/templates/controller/goosefsruntime_controller.yaml
  charts/fluid/fluid/templates/controller/jindoruntime_controller.yaml
  charts/fluid/fluid/templates/controller/juicefsruntime_controller.yaml
  charts/fluid/fluid/templates/controller/thinruntime_controller.yaml
  charts/fluid/fluid/templates/controller/vineyardruntime_controller.yaml
  charts/fluid/fluid/values.yaml
  cmd/efc/app/efc.go
  cmd/goosefs/app/goosefs.go
  cmd/vineyard/app/vineyard.go
Labels: lgtm, approved

#4835 minorfix: change web ufs url to ustc mirror
  test/prow/fluid/fluidapi.py
  test/prow/scale_runtime.py
  test/prow/testcases/alluxio/alluxio_dynamic_mountpoint.py
  test/prow/testcases/common/csi_stale_patch.py
  test/prow/testcases/common/dataset_pvc_subpath.py
Labels: lgtm, approved

#4806 This PR is to add comments to TestOptimizeDefaultForFuseNoValue in pkg\ddc\alluxio\transform_optimization_test.go.
  pkg/ddc/alluxio/transform_optimization_test.go
Labels: lgtm, needs-ok-to-test, approved

#4808 Add comments to invokeCleanCache in pkg\ddc\goosefs\cache.go
  pkg/ddc/goosefs/cache.go
Labels: lgtm, needs-ok-to-test, approved

#4821 This PR is to add comments to getTestAlluxioEngineNode in pkg\ddc\alluxio\node_test.go
  pkg/ddc/alluxio/node_test.go
Labels: lgtm, needs-ok-to-test, approved

#4837 Feat: add helm config
  charts/fluid/fluid/templates/controller/alluxioruntime_controller.yaml
  charts/fluid/fluid/templates/controller/dataset_controller.yaml
  charts/fluid/fluid/templates/controller/efcruntime_controller.yaml
  charts/fluid/fluid/templates/controller/goosefsruntime_controller.yaml
  charts/fluid/fluid/templates/controller/jindoruntime_controller.yaml
  charts/fluid/fluid/templates/controller/juicefsruntime_controller.yaml
  charts/fluid/fluid/templates/controller/thinruntime_controller.yaml
  charts/fluid/fluid/templates/controller/vineyardruntime_controller.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4839 fix security issue in current helm and alpine version
  Makefile
  docker/Dockerfile.alluxioruntime
  docker/Dockerfile.application
  docker/Dockerfile.crds
  docker/Dockerfile.csi
  docker/Dockerfile.dataset
  docker/Dockerfile.efcruntime
  docker/Dockerfile.goosefsruntime
  docker/Dockerfile.jindoruntime
  docker/Dockerfile.juicefsruntime
  docker/Dockerfile.thinruntime
  docker/Dockerfile.vineyardruntime
  docker/Dockerfile.webhook
Labels: lgtm, approved

#4841 Build docker images for supporting vineyard customization
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4800 Feat: support new Runtime Fuse CleanPolicy - OnFuseChanged
  api/v1alpha1/constant.go
  api/v1alpha1/juicefsruntime_types.go
  api/v1alpha1/openapi_generated.go
  charts/fluid/fluid/crds/data.fluid.io_juicefsruntimes.yaml
  charts/fluid/fluid/templates/role/juicefs/rbac.yaml
  charts/juicefs/templates/fuse/daemonset.yaml
  config/crd/bases/data.fluid.io_juicefsruntimes.yaml
  pkg/common/constants.go
  pkg/common/label.go
  pkg/csi/plugins/nodeserver.go
  pkg/ddc/alluxio/create_volume_test.go
  pkg/ddc/alluxio/hcfs_test.go
  pkg/ddc/base/runtime.go
  pkg/ddc/base/runtime_helper_test.go
  pkg/ddc/base/runtime_test.go
  pkg/ddc/efc/create_volume.go
  pkg/ddc/efc/create_volume_test.go
  pkg/ddc/efc/delete_volume_test.go
  pkg/ddc/goosefs/create_volume_test.go
  pkg/ddc/goosefs/hcfs_test.go
  pkg/ddc/goosefs/load_data_test.go
  pkg/ddc/jindo/create_volume_test.go
  pkg/ddc/jindocache/create_volume_test.go
  pkg/ddc/jindofsx/create_volume_test.go
  pkg/ddc/juicefs/create_volume_test.go
  pkg/ddc/juicefs/runtime_info.go
  pkg/ddc/juicefs/sync_runtime.go
  pkg/ddc/juicefs/transform_fuse.go
  pkg/ddc/juicefs/transform_volume.go
  pkg/ddc/thin/create_volume_test.go
  pkg/ddc/thin/referencedataset/volume.go
  pkg/ddc/thin/referencedataset/volume_test.go
  pkg/ddc/vineyard/create_volume_test.go
  pkg/utils/annotations.go
  pkg/utils/dataset/volume/create.go
  pkg/utils/dataset/volume/create_test.go
  pkg/utils/dataset/volume/delete.go
  pkg/utils/dataset/volume/delete_test.go
  pkg/utils/dataset/volume/deprecated.go
  pkg/utils/dataset/volume/deprecated_test.go
  pkg/utils/dataset/volume/get.go
  pkg/utils/kubeclient/service_test.go
  pkg/utils/kubeclient/volume.go
  pkg/utils/kubeclient/volume_claim_test.go
  pkg/utils/kubeclient/volume_test.go
  pkg/utils/metadata.go
Labels: lgtm, approved

#4843 Build Docker images to support transparent FUSE upgrade
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4533 This PR is to add comments to TestAlluxioEngine_getGracefulShutdownLimits in pkg\ddc\alluxio\cache_test.go.
  pkg/ddc/alluxio/cache_test.go
Labels: lgtm, needs-ok-to-test, approved

#4586 This PR is to add comments to TestTransformShortCircuit in pkg\ddc\alluxio\transform_test.go.
  pkg/ddc/alluxio/transform_test.go
Labels: ok-to-test

#4582 This PR is to add comments to Test_genDataLoadValue in pkg\ddc\jindo\load_data_test.go
  pkg/ddc/jindo/load_data_test.go
Labels: lgtm, approved, ok-to-test

#4608 This PR is to add comments to transformResoursesForMaster in pkg\ddc\alluxio\transform_resources.go
  pkg/ddc/alluxio/transform_resources.go
  pkg/ddc/jindo/load_data_test.go
Labels: lgtm, needs-ok-to-test, approved
