Repository fluid-cloudnative/fluid, pull requests merged in 2025-05, with the labels that each got.

#4855 Remove runtimeset in thinruntime to simplify resource creation
  charts/thin/templates/config/runtime.yaml
  charts/thin/templates/fuse/daemonset.yaml
  pkg/ddc/thin/node.go
  pkg/ddc/thin/referencedataset/cm.go
  pkg/ddc/thin/shutdown.go
  pkg/ddc/thin/status.go
  pkg/ddc/thin/status_test.go
  pkg/ddc/thin/transform.go
  pkg/ddc/thin/transform_config.go
  pkg/ddc/thin/type.go
Labels: lgtm, approved

#4858 This PR is to add comments to TestCreateFusePersistentVolumeClaim in pkg/ddc/alluxio/create_volume_test.go
  pkg/ddc/alluxio/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4859 Build docker images for lightweight thinRuntime
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm

#4856 Reuse one configmap contains checkMountScript to simplify resource cr…
  pkg/application/inject/fuse/injector_test.go
  pkg/application/inject/fuse/mutator/mutator_default.go
  pkg/application/inject/fuse/mutator/mutator_unprivileged.go
  pkg/application/inject/fuse/poststart/check_fuse_default.go
  pkg/application/inject/fuse/poststart/script_gen_helper.go
Labels: lgtm, approved

#4871 Build docker images for lightweighting thin runtime resource
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: lgtm, approved

#4865 Disable worker by default in thinruntime
  charts/thin/templates/worker/statefuleset.yaml
  charts/thin/values.yaml
  pkg/common/label.go
  pkg/ddc/juicefs/sync_runtime.go
  pkg/ddc/thin/dataset.go
  pkg/ddc/thin/dataset_test.go
  pkg/ddc/thin/health_check.go
  pkg/ddc/thin/health_check_test.go
  pkg/ddc/thin/master.go
  pkg/ddc/thin/master_internal.go
  pkg/ddc/thin/replicas.go
  pkg/ddc/thin/status.go
  pkg/ddc/thin/transform.go
  pkg/ddc/thin/transform_test.go
  pkg/ddc/thin/type.go
  pkg/ddc/thin/util.go
  pkg/ddc/thin/worker.go
  pkg/ddc/thin/worker_test.go
Labels: lgtm, approved

#4873 This PR is to add comments to TestAlluxioEngine_DeleteFusePersistentVolumeClaim in pkg/ddc/alluxio/delete_volume_test.go.
  pkg/ddc/alluxio/delete_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#4868 This PR is to add comments to TestGenUFSMountOptionsMultiTimes in pkg/ddc/alluxio/ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4863 This PR is to add comments to Test_addWorkerPodAntiAffinity in pkg/ddc/juicefs/data_migrate_test.go
  pkg/ddc/juicefs/data_migrate_test.go
Labels: lgtm, needs-ok-to-test, approved

#4869 This PR is to add comments to TestTransformResourcesForWorkerWithValue in pkg/ddc/alluxio/transform_resources_test.go.
  pkg/ddc/alluxio/transform_resources_test.go
Labels: lgtm, needs-ok-to-test, approved

#4875 This PR is to add comments to TestJuiceFSEngine_generateDataMigrateValueFile in pkg\ddc\juicefs\data_migrate_test.go.
  pkg/ddc/juicefs/data_migrate_test.go
Labels: lgtm, needs-ok-to-test, approved

#4880 This PR is to add comments to SetupMaster in pkg\ddc\goosefs\master.go.
  pkg/ddc/goosefs/master.go
Labels: lgtm, needs-ok-to-test, approved

#4754 This PR is to add comments to TestCheckRuntimeReady in pkg/ddc/jindo/load_data_test.go
  pkg/ddc/jindo/load_data_test.go
Labels: lgtm, approved, ok-to-test

#4886 This PR is to add comments to TestAlluxioEngine_getInitUserDir in pkg\ddc\alluxio\utils_test.go
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, needs-ok-to-test, approved

#4882 This PR is to add comments to checkMasterHealthy in pkg/ddc/goosefs/health_check.go
  pkg/ddc/goosefs/health_check.go
Labels: lgtm, needs-ok-to-test, approved

#4884 Ensure resources exit before performing deletion
  pkg/ddc/thin/shutdown.go
Labels: lgtm, approved

#4876 Fix unexpected update in juiceruntime
  pkg/ddc/juicefs/sync_runtime.go
  pkg/ddc/juicefs/sync_runtime_test.go
  pkg/ddc/juicefs/utils.go
Labels: lgtm, approved

#4898 Build docker images for fixing juicefsruntime frequent update issue
  charts/fluid/fluid/Chart.yaml
  charts/fluid/fluid/values.yaml
Labels: approved

#4911 This PR is to add comments to TestTotalFileNums in pkg\ddc\alluxio\ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4895 This PR is to add comments to TestCheckIfRemountRequired(t *testing.T) in pkg\ddc\alluxio\ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4906 This PR is to add comments to TestMountRootWithoutEnvSet in pkg\ddc\alluxio\utils_t…
  pkg/ddc/alluxio/utils_test.go
Labels: needs-ok-to-test, approved

#4907 This PR is to add comments to TestGenUFSMountOptions in pkg/ddc/alluxio/ufs_test.go
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4940 Add notation to TestQueryAPIGatewayEndpoint in pkg\ddc\alluxio\api_ga…
  pkg/ddc/alluxio/api_gateway_test.go
Labels: lgtm, needs-ok-to-test, approved

#4914 This PR is to add comments to TestGenUFSMountOptionsWithDuplicatedKey in pkg\ddc\alluxio\ufs_test.go
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4944 This PR is to add comments to TestUsedStorageBytes in pkg/ddc/alluxio/ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, needs-ok-to-test, approved

#4952 This PR is to add comments to TestSyncMetadataInternal in pkg\ddc\alluxio\metadata_test.go
  pkg/ddc/alluxio/metadata_test.go
Labels: lgtm, needs-ok-to-test, approved
