Repository fluid-cloudnative/fluid, pull requests merged in 2025-06, with the labels that each got.

#4790 This PR is to add notation to TestUpdateDatasetStatus in pkg\ddc\juicefs\dataset_test.go
  pkg/ddc/juicefs/dataset_test.go
Labels: lgtm, needs-ok-to-test, approved

#4958 This PR is to add comments to TestCreateFusePersistentVolume in pkg/ddc/jindo/create_volume_test.go
  pkg/ddc/jindo/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#5008 This PR is to Add Notation to TestIsFluidNativeScheme in pkg/ddc/alluxio/utils_test.go
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#4704 This PR is to add comments to TestOptimizeDefaultForFuseWithArgs(t *testing.T) in pkg\ddc\alluxio\transform_optimization_test.go.
  pkg/ddc/alluxio/transform_optimization_test.go
Labels: lgtm, needs-ok-to-test, approved

#4922 This PR is to add comments to TestCheckMasterReady in pkg/ddc/alluxio/master_test.go
  pkg/ddc/alluxio/master_test.go
Labels: lgtm, needs-ok-to-test, approved

#4985 This PR is to add comments to TestTransformMasterVolumes(t *testing.T) in pkg\ddc\alluxio\transform_volumes_test.go
  pkg/ddc/alluxio/transform_volumes_test.go
Labels: lgtm, needs-ok-to-test, approved

#5026 Add Notation to TestSyncScheduleInfoToCacheNodes in pkg/ddc/jindo/nod…
  pkg/ddc/jindo/node_test.go
Labels: lgtm, needs-ok-to-test, approved

#5030 This PR is to add comments to TestParseReportMetric in pkg/ddc/alluxio/report_test.go
  pkg/ddc/alluxio/report_test.go
Labels: lgtm, needs-ok-to-test, approved

#5042 This PR is to add comments to TestTransformFuse in pkg/ddc/alluxio/transform_test.go
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#5045 This PR is to add comments to TestTransformPodMetadata(t *testing.T) in pkg\ddc\alluxio\transform_test.go.
  pkg/ddc/alluxio/transform_test.go
Labels: lgtm, needs-ok-to-test, approved

#5048 This PR is to add comments to TestSyncMetadata in pkg/ddc/alluxio/metadata_test.go
  pkg/ddc/alluxio/metadata_test.go
Labels: lgtm, needs-ok-to-test, approved

#5023 This PR is to add comments to TestCheckWorkersHealthy in pkg\ddc\alluxio\health_check_test.go.
  pkg/ddc/alluxio/health_check_test.go
Labels: lgtm, needs-ok-to-test, approved

#4994 Add Notation to TestAlluxioEngine_generateDataProcessValueFile in pkg…
  pkg/ddc/alluxio/process_data_test.go
Labels: lgtm, needs-ok-to-test, approved

#4976 This PR is to add comments to TestCheckRuntimeHealthy in pkg/ddc/alluxio/health_check_test.go.
  pkg/ddc/alluxio/health_check_test.go
Labels: lgtm, needs-ok-to-test, approved

#5120 Rename SECURITY_CONTACTS to SECURITY_CONTACTS.md
  SECURITY_CONTACTS.md
Labels: approved

#5061 Add comments to TestCreateFusePersistentVolume in pkg\ddc\alluxio\cre…
  pkg/ddc/alluxio/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#5126 Remove deprecated demo
  samples/hdfs/Dockerfile
  samples/hdfs/fluid/app.yaml
  samples/hdfs/fluid/dataset.yaml
  samples/hdfs/fluid/runtime.yaml
  samples/hdfs/pom.xml
  samples/hdfs/src/main/java/io/fluid/demo/HDFSClient.java
  samples/hdfs/src/main/resources/core-site.xml
  samples/hdfs/src/main/resources/log4j.properties
Labels: lgtm, approved

#5131 Add pinned GithubAction
  .github/workflows/codeql-analysis.yml
  .github/workflows/kind-e2e.yml
  .github/workflows/project-check.yml
  .github/workflows/sonarcloud.yaml
Labels: lgtm, approved

#5138 Support pinned dependencies
  .github/workflows/kind-e2e.yml
  .github/workflows/project-check.yml
  addons/cubefs/v2.4/docker/Dockerfile
  addons/cubefs/v3.2/docker/Dockerfile
  addons/dynamic-mount/base/Dockerfile
  addons/dynamic-mount/juicefs/docker/Dockerfile.juicefs
  addons/nfs/docker/Dockerfile
  charts/alluxio/docker/init-users/Dockerfile
  charts/goosefs/docker/init-users/Dockerfile
  samples/knative/docker/Dockerfile
  samples/vineyard/Dockerfile
  tools/file-prefetcher/Dockerfile
Labels: lgtm, approved

#5049 This PR is to add comments to newAlluxioEngineHCFS in pkg\ddc\alluxio\hcfs_test.go
  pkg/ddc/alluxio/hcfs_test.go
Labels: lgtm, approved, ok-to-test

#5068 This PR is to add comments to TestFreeStorageBytes in pkg\ddc\alluxio\ufs_test.go.
  pkg/ddc/alluxio/ufs_test.go
Labels: lgtm, approved, ok-to-test

#5074 This PR is to add comments to TestJuiceFSEngine_CreateVolume in pkg/ddc/juicefs/create_volume_test.go.
  pkg/ddc/juicefs/create_volume_test.go
Labels: lgtm, needs-ok-to-test, approved

#5076 Add Notation to TestGetHCFSStatus in pkg/ddc/alluxio/hcfs_test.go.
  pkg/ddc/alluxio/hcfs_test.go
Labels: lgtm, approved, ok-to-test

#5088 This PR is to add notation to checkWorkersHealthy in pkg\ddc\goosefs\health_check.go
  pkg/ddc/goosefs/health_check.go
Labels: lgtm, approved, ok-to-test

#5147 This PR is to add comments to TestAlluxioEngine_getCleanCacheGracePeriodSeconds in pkg\ddc\alluxio\cache_test.go.
  pkg/ddc/alluxio/cache_test.go
Labels: lgtm, approved, ok-to-test

#5150 Add fuzz test
  pkg/utils/validation/validation_test.go
Labels: lgtm, approved

#5090 This PR is to add comments to TestGetDaemonset in pkg\ddc\alluxio\utils_test.go.
  pkg/ddc/alluxio/utils_test.go
Labels: lgtm, approved, ok-to-test

#5093 This PR is to add comments to HasDeprecatedCommonLabelname in pkg/ddc/goosefs/deprecated_label.go.
  pkg/ddc/goosefs/deprecated_label.go
Labels: lgtm, needs-ok-to-test, approved
